<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="tx_test-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :tx_table %>
    <%= text_input f, :tx_table %>
    <%= error_tag f, :tx_table %>
  
    <%= label f, :reference %>
    <%= text_input f, :reference %>
    <%= error_tag f, :reference %>
  
    <%= label f, :ammount %>
    <%= text_input f, :ammount %>
    <%= error_tag f, :ammount %>
  
    <%= label f, :way %>
    <%= text_input f, :way %>
    <%= error_tag f, :way %>
  
    <%= label f, :owner %>
    <%= text_input f, :owner %>
    <%= error_tag f, :owner %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
